doctype html
html
  head
    title Dance pe Chance
    block scripts
    block style
  body
    block content
    block footer
        footer#footer
           div#copyright
              h2 Come Let's Dance India Dance
              h3 Copyright © 2022 DancePeChance | All right reserved
