extends base.pug

block scripts
  script(src='/static/index.js')

block style
  style
    include ../static/style.css

block content
    nav#navbar.top
        ul
          div#logo
             img(src='../static/logo.png' alt='Sponser' style='width:50px; height:50px;')
             | Dance pe Chance
          li
            - var url = '/';
            a(href='' + url) Home
          li
            - var url = '/';
            a(href='/about' + url) About
          li
            - var url = '/';
            a(href='/services' + url) Services
          li
            - var url = '/';
            a(href='/contact' + url) Contact

    section#introSection

    section#sponserSection
         h3 Our Sponsers
         div#images
           img(src='../static/sponser1.jpg' alt='Sponser' style='width:150px; height:150px;')
           img(src='../static/sponser2.jpg' alt='Sponser' style='width:150px; height:150px;')
           img(src='../static/sponser3.webp' alt='Sponser' style='width:168px; height:158px;')

